{% include "base.html.twig" %}

{% block title %}Edition de saison
{% endblock %}

{% block body %}
	<div class="game-form-container">
		<h1>Modifier le saison</h1>
		<h2>{{saison.label}}</h2>

		{% include "saison/_form.html.twig" with {'button_label': 'Modifier'} %}

		<div class="action-buttons">
			<a href="{{ path('app_saison_index') }}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>
				Retour à la liste
			</a>
			{% include "saison/_delete_form.html.twig" %}
		</div>
	</div>


{% endblock %}
