{% extends 'base.html.twig' %}

{% block title %}New saison
{% endblock %}

{% block body %}
	<div class="game-form-container">
		<h1>Create new saison</h1>
		{{ include('saison/_form.html.twig') }}
		<div class="action-buttons">

			<a href="{{ path('app_saison_index') }}">
				<i class="fas fa-arrow-left"></i>
				Retour à la liste
			</a>
		</div>
	</div>
{% endblock %}
