{% include "base.html.twig" %}

{% block title %}Edition de rental
{% endblock %}

{% block body %}
	<div class="game-form-container">
		<h1>Modifier le rental</h1>
		<h2>Rental</h2>

		{% include "rental/_form.html.twig" with {'button_label': 'Modifier'} %}

		<div class="action-buttons">
			<a href="{{ path('app_rental_index') }}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>
				Retour à la liste
			</a>
			{% include "rental/_delete_form.html.twig" %}
		</div>
	</div>


{% endblock %}
