{% include "base.html.twig" %}

{% block title %}Edition de equipement
{% endblock %}

{% block body %}
	<div class="game-form-container">
		<h1>Modifier l'equipement</h1>
		<h2>{{equipement.label}}</h2>

		{% include "equipement/_form.html.twig" with {'button_label': 'Modifier'} %}

		<div class="action-buttons">
			<a href="{{ path('app_equipement_index') }}" class="btn btn-back">
				<i class="fas fa-arrow-left"></i>
				Retour à la liste
			</a>
			{% include "equipement/_delete_form.html.twig" %}
		</div>
	</div>


{% endblock %}
