{# on peut déclarer des variables avec set #}

<div class="game-detail-card">

	<div class="game-detail-content">
			<h1 class="game-title">{{hebergement.id}}</h1>
		{# affichage des consoles #}
		<div class="game-consoles mb-3">
			{% for equipement in equipements %}
				<span class="console-badge">{{equipement.equipement}}</span>
			{% endfor %}
		</div>
			<div class="game-info-detail mb-4">
				<div class="info-item">
					<span class="info-label">surface:</span>
					<span class="info-value">{{hebergement.surface}}</span>
				</div>
			</div>

			<div class="game-synopsis mb-4">
				<h2>Synopsis</h2>
				<p>{{hebergement.description}}</p>
			</div>
		</div>
</div>
