@import "~bootstrap/scss/bootstrap";

//on va déclarer nos variable de couleur
$primary-bg: #E5E6DF; 
$text-light: #15526B;
$accent-color: #ff595a;
$highlight-color: #934703;
$text-muted: rgba(240,240,240,0.6);
$overlay-bg:#E5E6DF;
$dashboard-color: #15526B;

body{
  background-color: $primary-bg;
  color: $text-light;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin:0;
  padding:80px 0;
}